.desc {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Align text center */
    margin-top: 50px; 
    padding-left: 20px;
    padding-right: 20px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.p {
    border-style: outset;
    font-style: italic;
    font-size: 1.25rem;
    padding-left: 10px;
    padding-right: 10px;
}